@charset "utf-8";

body { /* Webページ全体のスタイルを指定 */
    color: yellow; /* 文字の色 */
    background-color: rgb(0, 0, 0);  /* 背景の色 */
}
h1 {  /* h1のスタイルを指定 */
    font-size: 30pt; /* 文字の大きさ */
    border-bottom-width: 15px;   /* 下の線の太さ     */
    border-bottom-style: dashed;  /* 下の線のスタイル */
    border-bottom-color: orange;   /* 下の線の色       */
}
h2 {  /* h2のスタイルを指定 */
    font-size: 24px; /* 文字の大きさ */
    border-bottom-width: 10px;   /* 下の線の太さ     */
    border-bottom-style: groove;  /* 下の線のスタイル */
    border-bottom-color: rgb(255, 0, 162);  /* 下の線の色       */
}